<!-- Button za modal ADD SONG-->
<div class="container">

  <button (click)="getCategories()"
          type="button" class="btn btn-danger" style="padding-top: 10px; margin: 12px "
          data-toggle="modal"
          data-target="#addSong"><i class="fas fa-plus"
                                    style="font-size: 18px; padding-right: 10px; color: #ffffff"></i>ADD NEW SONG
  </button>
  <!-- Button za modal ADD CATEGORY-->
  <button (click)="getCategories()"
          type="button" class="btn btn-secondary" style="padding-top: 10px; margin: 12px "
          data-toggle="modal"
          data-target="#addCategory"><i class="fas fa-plus"
                                        style="font-size: 18px; padding-right: 10px; color: #ffffff"></i>ADD NEW
    CATEGORY
  </button>

</div>


<!-- MODAL ZA DODAVANJE PJESME -->
<div class="modal fade" id="addSong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Song</h5>
        <button type="button" class="btn-close" aria-label="Close" data-dismiss="modal">
        </button>
      </div>


      <div class="modal-body">
        <form [formGroup]="formGroup">
          <div class="form-group">
            <label for="title">Song title</label>
            <input type="text" class="form-control" id="title" formControlName="title" name="title">
          </div>
          <br>
          <div class="form-group">
            <label for="artist">Song artist</label>
            <input type="text" class="form-control" id="artist" formControlName="artist" name="artist">
          </div>
          <br>

          <!-- BUTTON ZA DODAVANJE KATEGORIJE UNUTAR SONG MODALA -->
          <button type="button" class="btn btn-secondary" style="margin-top: 20px;"
                  data-toggle="modal"
                  data-target="#addCategory">Add Category
          </button>

          <div class="form-group">
            <label for="categoryId">Or select category from the list below:</label>
            <select formControlName="categoryId" class="form-control" name="categoryId" id="categoryId1">
              <option *ngFor="let category of categoryList" [ngValue]="category.id">{{category.name}}</option>
            </select>
          </div>

        </form>

        <br>
        <div class="modal-footer">

          <button type="button" class="btn btn-success" id="btn" data-dismiss="modal" (click)="saveSong()"> Save
          </button>

          <button class="btn btn-secondary" type="button" data-dismiss="modal"> Cancel</button>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ZA EDITOVANJE PJESME -->
<div class="modal fade" id="editSong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Edit Song</h5>
        <button type="button" class="btn-close" aria-label="Close" data-dismiss="modal">
        </button>
      </div>


      <div class="modal-body">
        <form [formGroup]="formGroup">
          <div class="form-group">
            <label for="title">Song title</label>
            <input type="text" class="form-control" id="title2" formControlName="title" name="title">
          </div>
          <br>
          <div class="form-group">
            <label for="artist">Song artist</label>
            <input type="text" class="form-control" id="artist1" formControlName="artist" name="artist">
          </div>
          <br>

          <!-- BUTTON ZA DODAVANJE KATEGORIJE UNUTAR SONG MODALA -->
          <button type="button" class="btn btn-secondary" style="margin-top: 20px;"
                  data-toggle="modal"
                  data-target="#addCategory">Add Category
          </button>

          <div class="form-group">
            <label for="categoryId">Or select category from the list below:</label>
            <select formControlName="categoryId" class="form-control" name="categoryId" id="categoryId">
              <option *ngFor="let category of categoryList" [ngValue]="category.id">{{category.name}}</option>
            </select>
          </div>

        </form>

        <br>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-success"
                  id="button"
                  data-dismiss="modal"
                  (click)="updateSong()"> Update
          </button>

          <button class="btn btn-secondary"
                  type="button"
                  data-dismiss="modal"> Cancel
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ZA DODAVANJE KATEGORIJE -->
<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">


      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Add Category</h5>
        <button type="button" class="btn-close" aria-label="Close" data-dismiss="modal">

        </button>
      </div>


      <div class="modal-body">
        <form id="prevent1">

          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title1" required [(ngModel)]="category.name" name="title">
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="prevent" data-dismiss="modal"
                    (click)="saveCategory()">Add
            </button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- PRIKAZ KATEGORIJA -->
<div class='col-xs-12' style="padding-bottom: 20px; margin: auto; text-align: center">
  <div class="title"><h5>Select category</h5></div>
  <button class="btn btn-outline-dark" style="margin: 0 5px 0 0 "
          *ngFor="let cat of categoryList;"
          [ngClass]="{'active': cat === selectedCategory}"
          (click)="selectCategory(cat)">
    <h6>{{cat.name}}</h6>
  </button>
  <button type="button" class="btn btn-warning" (click)="clearSelected()">Show All</button>
</div>


<!-- LISTA PJESAMA SA SEARCH BAR-om-->
<div class="container">
  <div class="col-10" style="margin:10px auto">
    <input class="form-control" type="text" [(ngModel)]="title" name="title" placeholder="Search by song title ..."
           autocomplete="off" (ngModelChange)="Search()">
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    <div class="col mb-4" *ngFor="let song of songList">
      <div class="card">
        <img src="./assets/image.png" style="width: 150px; margin: auto" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{song.title}}</h5>
          <p class="card-text">{{song.artist}}</p>
        </div>

        <div class="btn btn_group">
          <hr/>
          <i class="fas fa-trash"
             style="font-size: 25px; padding: 15px; color: #ef3e3e"
             data-toggle="modal"
             data-target="#confirmation"
             title="Delete Song"
             (click)="deleteSong(song.id)"></i>
          <i class="fas fa-edit"
             style="font-size: 25px; padding: 15px; color: #185ed4"
             data-toggle="modal"
             data-target="#editSong"
             title="Edit Song"
             (click)="onEdit(song)"></i>
        </div>
      </div>
    </div>
  </div>
</div>


