<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show':showModal}" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Button za modal -->
  <div class="merso">
    <button (click)="getCategories()"
            type="button" class="btn btn-danger" style="padding-top: 10px; margin: 12px "
            data-toggle="modal"
            data-target="#addSong">ADD NEW SONG
    </button>
  </div>



<!-- MODAL ZA DODAVANJE PJESME -->

  <div class="modal fade" id="addSong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">


        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Song</h5>
          <button class="close" id="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>


        <div class="modal-body">
          <form>

            <div class="form-group">
              <label for="title">Song title</label>
              <input type="text" class="form-control" id="title" required [(ngModel)]="song.title"
                     name="title">
            </div>

            <div class="form-group">
              <label for="artist">Song artist</label>
              <input type="text" class="form-control" id="artist" required [(ngModel)]="song.artist"
                     name="artist">
            </div>



            <!-- BUTTON ZA DODAVANJE KATEGORIJE UNUTAR SONG MODALA -->
            <button type="button" class="btn btn-primary" style="margin-top: 20px;"
                    data-toggle="modal"
                    data-target="#addCategory">Add new category
            </button>

            <div class="form-group">
              <label for="category">Or select from the list below</label>
              <select [(ngModel)]="song.categoryId" class="form-control" name="category" id="category">
                <option *ngFor="let category of categoryList" [ngValue]="category.id">{{category.name}}</option>
              </select>
            </div>
          </form>


          <div class="modal-footer">
            <button type="button" class="btn btn-info" id="btn" data-dismiss="modal"
                    (click)="saveSong()">Save
            </button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- MODAL ZA DODAVANJE kategorije -->
    <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">


          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">Add Category</h5>
            <button class="close" id="close2" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>


          <div class="modal-body">
            <form id="prevent">

              <div class="form-group">
                <label for="title1">Title</label>
                <input type="text" class="form-control" id="title1" required [(ngModel)]="category.name" name="title1">
              </div>



              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="prevent1" data-dismiss="modal"
                        (click)="saveCategory()">OK
                </button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

<div class='col-xs-12' style="padding-bottom: 20px; margin: auto; text-align: center">
  <button class="btn btn-outline-primary" style="margin: 0 5px 0 0 "
          *ngFor="let cat of categoryList;"
          [ngClass]="{'active': cat === selectedCategory}"
          (click)="selectCategory(cat)">
    <h6>{{cat.name}}</h6>
  </button>
  <button type="button" class="btn btn-warning" (click)="clearSelected()">Clear</button>
</div>

<!-- LISTA PJESAMA -->
<div class="container">
  <div  class="card p-3" >
      <div class="row">
        <div class="col-10" style="margin:10px auto">
          <input class="form-control" type="text" [(ngModel)]="title" name="title" placeholder="Search by song title ..." autocomplete="off" (ngModelChange)="Search()">
        </div>



    <div class="card-group">
      <div style="padding: 5px" *ngFor="let song of songList">
        <div class="card mt-lg-auto">
          <img src="./assets/song.jpg" class="card-img-top" width="300" height="110" alt="slika">
          <div class="card-body">
            <p>Song title:  <strong> {{song.title}}</strong> </p>
            <p>Artist: <strong>{{song.artist}}</strong></p>
          </div>
          <div class="btn btn_group" >
            <i class="fas fa-trash" style="font-size: 25px; padding: 15px; color: #ef3e3e" (click)="deleteSong(song.id)"></i>
            <i class="fas fa-edit" style="font-size: 25px; padding: 15px; color: #185ed4" (click)="clearSelected()"></i>
          </div>

          </div>
        </div>
      </div>


        </div>
      </div>

</div>
